framework/testtools/dtd/SeleniumXml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Licensed to the Apache Software Foundation (ASF) under one
	or more contributor license agreements.  See the NOTICE file
	distributed with this work for additional information
	regarding copyright ownership.  The ASF licenses this file
	to you under the Apache License, Version 2.0 (the
	"License"); you may not use this file except in compliance
	with the License.  You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing,
	software distributed under the License is distributed on an
	"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
	KIND, either express or implied.  See the License for the
	specific language governing permissions and limitations
	under the License.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<!--
		==================================================
		========== Element and Attribute definitions for 
		========== SeleniumXml project ===================
		==================================================
	-->
	<xs:group name="AllCommands"><!-- All SeleniumXml command which normally match with the SeleniumRC Java API. -->
		<xs:choice>
			<xs:element ref="testcase"  />
			<xs:element ref="type" />
			<xs:element ref="loadData" />
			<xs:element ref="selectPopup" />
			<xs:element ref="getAllWindowIds" />
			<xs:element ref="captureTextInPage" />
			<xs:element ref="getSelectedLabel" />
			<xs:element ref="getSelectedValue" />
			<xs:element ref="getSelectedId" />
			<xs:element ref="assertContains" />
			<xs:element ref="getHtmlSource" />
			<xs:element ref="getBodyText" />
			<xs:element ref="print" />
			<xs:element ref="waitForPageToLoad" />
			<xs:element ref="getSelectedIds" />
			<xs:element ref="copy" />
			<xs:element ref="append" />
			<xs:element ref="open" />
			<xs:element ref="click" />
			<xs:element ref="select" />
			<xs:element ref="uniqueId" />
			<xs:element ref="randomAlphaString" />
			<xs:element ref="randomString" />
			<xs:element ref="setSpeed" />
		</xs:choice>
	</xs:group>


	<xs:element name="testcase">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>

		<xs:complexType>
			<xs:sequence>
				<xs:group minOccurs="0" maxOccurs="unbounded" ref="AllCommands"/>
			</xs:sequence>
				
			<xs:attributeGroup ref="attlist.name-value" />
			<xs:attribute name="LABEL" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="type" >
		<xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.name-value"/>
		</xs:complexType>
	</xs:element>
    <xs:element name="loadData">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.file"/>
            <xs:attributeGroup ref="attlist.loadData"/>
        </xs:complexType>
    </xs:element>	
    
     <xs:element name="selectPopup">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.selectPopup"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getAllWindowIds">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.getAllWindowIds"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="captureTextInPage">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.captureTextInPage"/>
        </xs:complexType>
    </xs:element>	
    
     <xs:element name="getSelectedLabel">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.getSelectedLabel"/>
        </xs:complexType>
    </xs:element>
    
     <xs:element name="getSelectedValue">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="AllCommands"/>
            <xs:attributeGroup ref="attlist.getSelectedLabel"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getSelectedId">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.getSelectedLabel"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="assertContains">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.assertContains"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getHtmlSource">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.out"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getBodyText">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.out"/>
        </xs:complexType>
    </xs:element> 
    
     <xs:element name="print">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.print"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="waitForPageToLoad">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.print"/>
        </xs:complexType>
    </xs:element>    
    
    <xs:element name="getSelectedIds">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.print"/>
        </xs:complexType>
    </xs:element>    
    
    <xs:element name="copy">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.copy"/>
        </xs:complexType>
    </xs:element>    
    
     <xs:element name="append">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.append"/>
            <xs:attributeGroup ref="attlist.out"/>
                    </xs:complexType>
    </xs:element>
    
    <xs:element name="open">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.print"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="click">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.locator"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="select">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.option"/>
            <xs:attributeGroup ref="attlist.locator"/>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="uniqueId">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.out"/>
        </xs:complexType>
    </xs:element>
    
     <xs:element name="randomAlphaString">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.out"/>
            <xs:attributeGroup ref="attlist.size-prefix"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="randomString">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.out"/>
            <xs:attributeGroup ref="attlist.size-prefix"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="setSpeed">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="attlist.print"/>
        </xs:complexType>
    </xs:element>
    
	<!-- +++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- Attribute Lists for all Element definitions -->
	<!-- +++++++++++++++++++++++++++++++++++++++++++ -->
	<xs:attributeGroup name="attlist.file">
        <xs:attribute type="xs:string" name="file" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>
    
	<xs:attributeGroup name="attlist.name-value">
        <xs:attribute type="xs:string" name="name" use="required">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="value" use="required">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    
    <xs:attributeGroup name="attlist.loadData">
        <xs:attribute type="xs:string" name="iterations" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>
    
     <xs:attributeGroup name="attlist.selectPopup">
        <xs:attribute type="xs:string" name="locator" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="timeout" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>
    
     <xs:attributeGroup name="attlist.getAllWindowIds">
        <xs:attribute type="xs:string" name="winIds" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="winNames" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>
    
    <xs:attributeGroup name="attlist.captureTextInPage">
        <xs:attribute type="xs:string" name="regex" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="group" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="results" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>
    
     <xs:attributeGroup name="attlist.getSelectedLabel">
        <xs:attribute type="xs:string" name="locator" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="out" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>
    
    <xs:attributeGroup name="attlist.assertContains">
        <xs:attribute type="xs:string" name="src" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="test" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>   
    
    <xs:attributeGroup name="attlist.out">
        <xs:attribute type="xs:string" name="out" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>
        
     <xs:attributeGroup name="attlist.print">
        <xs:attribute type="xs:string" name="value" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>
    
    <xs:attributeGroup name="attlist.copy">
        <xs:attribute type="xs:string" name="to" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="from" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>
    
    <xs:attributeGroup name="attlist.append">
        <xs:attribute type="xs:string" name="src1" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="src2" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup>     
    
    <xs:attributeGroup name="attlist.option">
        <xs:attribute type="xs:string" name="option" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup> 
    
    <xs:attributeGroup name="attlist.locator">
        <xs:attribute type="xs:string" name="locator" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup> 
    
    <xs:attributeGroup name="attlist.size-prefix">
        <xs:attribute type="xs:string" name="size" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute type="xs:string" name="prefix" use="optional">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:attributeGroup> 
    
</xs:schema>
