specialpurpose/oagis/dtd/oagis_fields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns="http://www.openapplications.org/oagis_fields" targetNamespace="http://www.openapplications.org/oagis_fields" xmlns:="http://www.openapplications.org/oagis_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>
			
		License information for this file is provided in LICENSE.TXT, as published
		on the Open Applications Group web site. www.openapplications.org
		
		For support, more information, or to report implementation bugs,
		please contact the Open Applications Group at xml@openapplications.org
		
		$Revision: 7.2.1 $
		$Date: 31 October 2001 $
		Open Applications Group XML
		Copyright 1998-2001, All Rights Reserved
		
		$Name: oagis_fields.xsd $
		
		ajw	7.2		09/14/2001	Fields to support ECatalog: CLASSFNID,CLASSFN,CLASSLEVEL,CLSSSCHMRV,FTGROUP,
									FTVALIND,FTVALQUAL,	PRICECODE,	PRICETYPE,SEQNCENUM,USAGERESTN
		ajw	7.2		09/14/2001	Fields to support Consumptn: CONSLINENUM,ROUTELEVEL1-ROUTELEVEL9  
		mlr	7.2 		09/14/2001	Added fields to support updated delivery: ACKMODE, DISCRPTYPE, RECEIPTYPE.
		ajw	7.2.1	10/31/2001	W3C Schema Release 
		

		Structure Overview
		
			This schema defines the OAGI Field datatypes used throughout the specification.
			Below is an outline depicting their placement and usage.
			
			BOD Namespace ("http://www.openapplications.org/nnn_verb_noun_rel")
				|
				|--- Segments Namespace - oagis_segments.xsd (os: "http://www.openapplications.org/oagis_segments")
				|	|
				|---	|--- Fields Namespace - oagis_fields.xsd (of:"http://www.openapplications.org/oagis_fields") 
					
					
			
		</xs:documentation>
	</xs:annotation>
	<xs:element name="VERB" type="VERB"/>
	<xs:simpleType name="VERB">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACKNOWLEDGE"/>
			<xs:enumeration value="ALLOCATE"/>
			<xs:enumeration value="ADD"/>
			<xs:enumeration value="CANCEL"/>
			<xs:enumeration value="CHANGE"/>
			<xs:enumeration value="CONFIRM"/>
			<xs:enumeration value="CREATE"/>
			<xs:enumeration value="GET"/>
			<xs:enumeration value="GETLIST"/>
			<xs:enumeration value="ISSUE"/>
			<xs:enumeration value="LIST"/>
			<xs:enumeration value="LOAD"/>
			<xs:enumeration value="POST"/>
			<xs:enumeration value="PROCESS"/>
			<xs:enumeration value="RECEIVE"/>
			<xs:enumeration value="RESPOND"/>
			<xs:enumeration value="SHOW"/>
			<xs:enumeration value="SYNC"/>
			<xs:enumeration value="TRANSFER"/>
			<xs:enumeration value="UPDATE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NOUN">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVITY"/>
			<xs:enumeration value="BOM"/>
			<xs:enumeration value="BOD"/>
			<xs:enumeration value="CATALOG"/>
			<xs:enumeration value="COA"/>
			<xs:enumeration value="CONSUMPTN"/>
			<xs:enumeration value="COUNTINFO"/>
			<xs:enumeration value="CREDIT"/>
			<xs:enumeration value="CUSTOMER"/>
			<xs:enumeration value="DELIVERY"/>
			<xs:enumeration value="DSPTCHLIST"/>
			<xs:enumeration value="ECATALOG"/>
			<xs:enumeration value="ENGCHGORDR"/>
			<xs:enumeration value="EXCHNGRATE"/>
			<xs:enumeration value="FIELD"/>
			<xs:enumeration value="INSPECTION"/>
			<xs:enumeration value="INVENCOUNT"/>
			<xs:enumeration value="INVENTORY"/>
			<xs:enumeration value="INVOICE"/>
			<xs:enumeration value="ISSUE"/>
			<xs:enumeration value="ISSUEINFO"/>
			<xs:enumeration value="ITEM"/>
			<xs:enumeration value="ITEMCLASS"/>
			<xs:enumeration value="ITEMSPECS"/>
			<xs:enumeration value="ITEMXREF"/>
			<xs:enumeration value="JOURNAL"/>
			<xs:enumeration value="LDGRACTUAL"/>
			<xs:enumeration value="LDGRBUDGET"/>
			<xs:enumeration value="MAINTORDER"/>
			<xs:enumeration value="MATCHDOC"/>
			<xs:enumeration value="MATCHFAIL"/>
			<xs:enumeration value="MATCHOK"/>
			<xs:enumeration value="MFGTLCODE"/>
			<xs:enumeration value="MISCITEM"/>
			<xs:enumeration value="PAYABLE"/>
			<xs:enumeration value="PERSONNEL"/>
			<xs:enumeration value="PERSONTIME"/>
			<xs:enumeration value="PICKLIST"/>
			<xs:enumeration value="PLANSCHD"/>
			<xs:enumeration value="PLINVOICE"/>
			<xs:enumeration value="PO"/>
			<xs:enumeration value="PRICELIST"/>
			<xs:enumeration value="PRODAVAIL"/>
			<xs:enumeration value="PRODORDER"/>
			<xs:enumeration value="PRODUCTREQ"/>
			<xs:enumeration value="PROJACCTNG"/>
			<xs:enumeration value="PROJINFO"/>
			<xs:enumeration value="QUOTE"/>
			<xs:enumeration value="RECEIVABLE"/>
			<xs:enumeration value="REQUISITN"/>
			<xs:enumeration value="RESOURCE"/>
			<xs:enumeration value="RFQ"/>
			<xs:enumeration value="ROUTING"/>
			<xs:enumeration value="SALESORDER"/>
			<xs:enumeration value="SEQSCHD"/>
			<xs:enumeration value="SHIPMENT"/>
			<xs:enumeration value="SHIPSCHD"/>
			<xs:enumeration value="SITELEVEL"/>
			<xs:enumeration value="STATUS"/>
			<xs:enumeration value="SUPPLIER"/>
			<xs:enumeration value="UOMGROUP"/>
			<xs:enumeration value="WIPCONFIRM"/>
			<xs:enumeration value="WIPMERGE"/>
			<xs:enumeration value="WIPMOVE"/>
			<xs:enumeration value="WIPRECOVER"/>
			<xs:enumeration value="WIPSPLIT"/>
			<xs:enumeration value="WIPSTATUS"/>
			<xs:enumeration value="WRKSCHDULE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="REVISION">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LOGICALID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CONFIRMATION">
		<xs:annotation>
			<xs:documentation>
			0 - No Confirm BOD requested, 1 - Send Confirm BOD only on error, 2 - Send Confirm BOD always								</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="NOCONFIRM"/>
			<xs:enumeration value="ONERROR"/>
			<xs:enumeration value="YESCONFIRM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LANGUAGE">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CHARGETYPE">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DOCTYPE">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DOCUMENTID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DOCUMENTRV">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ITEM">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ORIGREF">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PARTNRID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PARTNRTYPE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ShipTo"/>
			<xs:enumeration value="BillTo"/>
			<xs:enumeration value="SoldTo"/>
			<xs:enumeration value="PayFrom"/>
			<xs:enumeration value="Supplier"/>
			<xs:enumeration value="RemitTo"/>
			<xs:enumeration value="Carrier"/>
			<xs:enumeration value="Broker"/>
			<xs:enumeration value="Employee"/>
			<xs:enumeration value="JV"/>
			<xs:enumeration value="Publisher"/>
			<xs:enumeration value="Manufacturer"/>
			<xs:enumeration value="ShipFrom"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PAYMETHOD">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="REASONCODE">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SCHLINENUM">
		<!-- future xs:decimal  -->
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="STATUSLVL">
		<xs:annotation>
			<xs:documentation>00 - Success, 99 - Failure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="00"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SUBLINENUM">
		<!-- future xs:decimal  -->
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TAXCODE">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TAXJRSDCTN">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TERMID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="NOUN" type="NOUN"/>
	<xs:element name="REVISION" type="REVISION"/>
	<!-- AW: support BSR Type - End -->
	<!-- AW: Below support SENDER Type - Start -->
	<xs:element name="LOGICALID" type="LOGICALID"/>
	<xs:element name="COMPONENT" type="xs:string"/>
	<xs:element name="TASK" type="xs:string"/>
	<xs:element name="REFERENCEID" type="xs:string"/>
	<xs:element name="CONFIRMATION" type="CONFIRMATION"/>
	<xs:element name="LANGUAGE" type="LANGUAGE"/>
	<xs:element name="CODEPAGE" type="xs:string"/>
	<xs:element name="AUTHID" type="xs:string"/>
	<!-- End - Support SENDER Type -->
	<!-- Start - Support DATETIME Type -->
	<xs:element name="YEAR" type="xs:gYear"/>
	<xs:element name="MONTH" type="xs:integer"/>
	<xs:element name="DAY" type="xs:integer"/>
	<xs:element name="HOUR" type="xs:integer"/>
	<xs:element name="MINUTE" type="xs:integer"/>
	<xs:element name="SECOND" type="xs:integer"/>
	<xs:element name="SUBSECOND" type="xs:integer"/>
	<xs:element name="TIMEZONE" type="xs:string"/>
	<!-- End - Support DATETIME Type -->
	<!-- Start - Alphabetical from here on -->
	<xs:element name="ABSENCETYP" type="xs:string"/>
	<xs:element name="ACCTPERIOD" type="xs:string"/>
	<xs:element name="ACCTTYPE" type="xs:string"/>
	<xs:element name="ACCTYEAR" type="xs:integer"/>
	<xs:element name="ACKCODE" type="xs:string"/>
	<xs:element name="ACKMODE" type="xs:string"/>
	<xs:element name="ACKREQUEST">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="NOACK"/>
				<xs:enumeration value="ONCHANGE"/>
				<xs:enumeration value="YESACK"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ACTIONCODE" type="xs:string"/>
	<xs:element name="ACTIVE" type="xs:string"/>
	<xs:element name="ACTTYPE" type="xs:string"/>
	<xs:element name="ADDRLINE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ADDRTYPE" type="xs:string"/>
	<xs:element name="ALLOWTYPE" type="xs:string"/>
	<xs:element name="APPROVAL" type="xs:boolean"/>
	<xs:element name="APPROVE" type="xs:boolean"/>
	<xs:element name="APPROVED" type="xs:boolean"/>
	<xs:element name="APPROVERID" type="xs:string"/>
	<xs:element name="AUTHCODE" type="xs:string"/>
	<xs:element name="BACKORDIND" type="xs:boolean"/>
	<xs:element name="BILLOLADNG" type="xs:string"/>
	<xs:element name="BKTYPE" type="xs:string"/>
	<xs:element name="BOMALTID" type="xs:string"/>
	<xs:element name="BOMID" type="xs:string"/>
	<xs:element name="BOMNAME" type="xs:string"/>
	<xs:element name="BOMREVISON" type="xs:string"/>
	<xs:element name="BOMSTATUS" type="xs:string"/>
	<xs:element name="BOMTYPE" type="xs:string"/>
	<xs:element name="BOMUSAGE" type="xs:string"/>
	<xs:element name="BUDGSTAT" type="xs:integer"/>
	<xs:element name="BUDGTXN" type="xs:boolean"/>
	<xs:element name="BUDGVER" type="xs:string"/>
	<xs:element name="BUSNAREA" type="xs:string"/>
	<xs:element name="BUYERID" type="xs:string"/>
	<xs:element name="CARRIER" type="xs:string"/>
	<xs:element name="CARRSRVLVL" type="xs:string"/>
	<xs:element name="CATALGNAME" type="xs:string"/>
	<xs:element name="CATALOGRV" type="xs:string"/>
	<xs:element name="CHARGEID" type="xs:string"/>
	<xs:element name="CHARGETYPE" type="CHARGETYPE"/>
	<xs:element name="CHGLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="CITY" type="xs:string"/>
	<xs:element name="CLASSFN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CLASSFNID" type="xs:string"/>
	<xs:element name="CLASSLEVEL" type="xs:string"/>
	<xs:element name="CLSSSCHMRV" type="xs:string"/>
	<xs:element name="CLSELMLVL" type="xs:string"/>
	<xs:element name="CLSSELMT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CLSSLMNTID" type="xs:string"/>
	<xs:element name="CLSSSCHMID" type="xs:string"/>
	<xs:element name="CMPRSNID" type="xs:string"/>
	<xs:element name="CMPRSNTYPE" type="xs:string"/>
	<xs:element name="CNTCTTYPE" type="xs:string"/>
	<xs:element name="COMMENTS" type="xs:string"/>
	<xs:element name="COMMODITY">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPLEVEL" type="xs:string"/>
	<xs:element name="COMPREFDES" type="xs:string"/>
	<xs:element name="CONDSTATUS" type="xs:string"/>
	<xs:element name="CONSLINENUM" type="xs:string"/>
	<xs:element name="CONSUMPTN" type="xs:string"/>
	<xs:element name="CONTAINRID" type="xs:string"/>
	<xs:element name="CONTCTTYPE" type="xs:string"/>
	<xs:element name="CONTNRSEAL" type="xs:string"/>
	<xs:element name="CONTNRTYPE" type="xs:string"/>
	<xs:element name="CONTRACTB" type="xs:string"/>
	<xs:element name="CONTRACTID" type="xs:string"/>
	<xs:element name="CONTRACTS" type="xs:string"/>
	<xs:element name="COSTCENTER" type="xs:string"/>
	<xs:element name="COSTTYPE" type="xs:string"/>
	<xs:element name="COUNTRY" type="xs:string"/>
	<xs:element name="COUNTRYDST" type="xs:string"/>
	<xs:element name="COUNTRYORG" type="xs:string"/>
	<xs:element name="COUNTY" type="xs:string"/>
	<xs:element name="CRAFTID" type="xs:string"/>
	<xs:element name="CTCHWCONV" type="xs:string"/>
	<xs:element name="CTCHWFLAG" type="xs:integer"/>
	<xs:element name="CURRENCY" type="xs:string"/>
	<xs:element name="CURRFROM" type="xs:string"/>
	<xs:element name="CURRTO" type="xs:string"/>
	<xs:element name="DATETYPE" type="xs:string"/>
	<xs:element name="DAYOFMONTH" type="xs:integer"/>
	<xs:element name="DAYSNUM" type="xs:integer"/>
	<xs:element name="DEFAULT" type="xs:string"/>
	<xs:element name="DEFLTVALUE" type="xs:string"/>
	<xs:element name="DELIVERTO" type="xs:string"/>
	<xs:element name="DENSITYFAC" type="xs:integer"/>
	<xs:element name="DEPARTMENT" type="xs:string"/>
	<xs:element name="DESCRIPTN" type="xs:string"/>
	<xs:element name="DISCRPTYPE" type="xs:string"/>
	<xs:element name="DISPOSITN" type="xs:string"/>
	<xs:element name="DISPOSITON" type="xs:string"/>
	<xs:element name="DISTCENTER" type="xs:string"/>
	<xs:element name="DIVISION" type="xs:string"/>
	<xs:element name="DOCKID" type="xs:string"/>
	<xs:element name="DOCTYPE" type="DOCTYPE"/>
	<xs:element name="DOCUMENTID" type="DOCUMENTID"/>
	<xs:element name="DOCUMENTRV" type="DOCUMENTRV"/>
	<xs:element name="DRAWING" type="xs:string"/>
	<xs:element name="DRCR" type="xs:string"/>
	<xs:element name="DROPSHIP" type="xs:string"/>
	<xs:element name="DSPSTNINV" type="xs:string"/>
	<xs:element name="DUNSNUMBER" type="xs:string"/>
	<xs:element name="ECOAPPSTAT" type="xs:string"/>
	<xs:element name="ECONAME" type="xs:string"/>
	<xs:element name="ECOPRIORITY" type="xs:string"/>
	<xs:element name="ECOREVISON" type="xs:string"/>
	<xs:element name="ECOTYPE" type="xs:string"/>
	<xs:element name="ELEMENT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EMAIL" type="xs:string"/>
	<xs:element name="EMPCATEGRY" type="xs:string"/>
	<xs:element name="EMPDEPT" type="xs:string"/>
	<xs:element name="EMPLOYEEID" type="xs:string"/>
	<xs:element name="EMPNAME" type="xs:string"/>
	<xs:element name="EMPQUALIF" type="xs:string"/>
	<xs:element name="EMPSTATUS" type="xs:string"/>
	<xs:element name="ENDITEMID" type="xs:string"/>
	<xs:element name="EXCLUSIVE" type="xs:boolean"/>
	<xs:element name="EXCPLINNUM" type="xs:string"/>
	<xs:element name="EXCPTNCODE" type="xs:string"/>
	<xs:element name="EXPIREFLAG" type="xs:string"/>
	<xs:element name="EXPORTLIC" type="xs:boolean"/>
	<xs:element name="FACTOR" type="xs:integer"/>
	<xs:element name="FAILCLASS" type="xs:string"/>
	<xs:element name="FAILCODE" type="xs:string"/>
	<xs:element name="FAILTYPE" type="xs:string"/>
	<xs:element name="FAILUREID" type="xs:string"/>
	<xs:element name="FAX">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FEATUREID" type="xs:string"/>
	<xs:element name="FEATVAL" type="xs:string"/>
	<xs:element name="FIELDID" type="xs:string"/>
	<xs:element name="FIELDVALUE" type="xs:string"/>
	<xs:element name="FILENAME" type="xs:string"/>
	<xs:element name="FILETYPE" type="xs:string"/>
	<xs:element name="FIXDQTYIND" type="xs:boolean"/>
	<xs:element name="FIXEDASSET" type="xs:string"/>
	<xs:element name="FLEXBKTID" type="xs:string"/>
	<xs:element name="FREIGHTCLS" type="xs:string"/>
	<xs:element name="FRGHTCLS" type="xs:string"/>
	<xs:element name="FRGHTITEM" type="xs:string"/>
	<xs:element name="FRGHTTERMS" type="xs:string"/>
	<xs:element name="FRMITMCLSS" type="xs:string"/>
	<xs:element name="FRMITMNM" type="xs:string"/>
	<xs:element name="FRMITMNMRV" type="xs:string"/>
	<xs:element name="FRMSITELVL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FROMPARTY" type="xs:string"/>
	<xs:element name="FTDATATYPE" type="xs:string"/>
	<xs:element name="FTGROUP" type="xs:string"/>
	<xs:element name="FTVALIND" type="xs:string"/>
	<xs:element name="FTVALQUAL" type="xs:string"/>
	<xs:element name="FUND" type="xs:string"/>
	<xs:element name="GEOGRAPHY" type="xs:string"/>
	<xs:element name="GLENTITYD" type="xs:string"/>
	<xs:element name="GLENTITYS" type="xs:string"/>
	<xs:element name="GLNOMACCT" type="xs:string"/>
	<xs:element name="HAZRDMATL" type="xs:string"/>
	<xs:element name="HDRSTATUS" type="xs:integer"/>
	<!--	<xs:element name="HOUR" type="xs:integer"/>  def'd above -->
	<xs:element name="HRORG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IMPORTLIC" type="xs:boolean"/>
	<xs:element name="INCPLANFLG" type="xs:boolean"/>
	<xs:element name="INDLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="INMRPPLAN" type="xs:boolean"/>
	<xs:element name="INQUEUEID" type="xs:string"/>
	<xs:element name="INSLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="INSPDOCREV" type="xs:string"/>
	<xs:element name="INSPECTDOC" type="xs:string"/>
	<xs:element name="INSPECTRID" type="xs:string"/>
	<xs:element name="INVENDISP" type="xs:string"/>
	<xs:element name="INVLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="ITEM" type="ITEM"/>
	<xs:element name="ITEMX" type="xs:string"/>
	<xs:element name="ITEMCATID" type="xs:string"/>
	<xs:element name="ITEMCLASS" type="xs:string"/>
	<xs:element name="ITEMCLASSID" type="xs:string"/>
	<xs:element name="ITEMDEFN" type="xs:string"/>
	<xs:element name="ITEMDESC" type="xs:string"/>
	<xs:element name="ITEMRV" type="xs:string"/>
	<xs:element name="ITEMRVX" type="xs:string"/>
	<xs:element name="ITEMSTATUS" type="xs:string"/>
	<xs:element name="ITEMTYPE" type="xs:string"/>
	<xs:element name="ITEMVAR" type="xs:string"/>
	<xs:element name="ITMFTVAL" type="xs:string"/>
	<xs:element name="ITMIDFLG" type="xs:boolean"/>
	<xs:element name="JEID" type="xs:string"/>
	<xs:element name="JOBCODE" type="xs:string"/>
	<xs:element name="JPID" type="xs:string"/>
	<xs:element name="KANBAN" type="xs:string"/>
	<xs:element name="LABORID" type="xs:string"/>
	<xs:element name="LEDGER" type="xs:string"/>
	<xs:element name="LINE" type="xs:string"/>
	<xs:element name="LINEFEED" type="xs:string"/>
	<xs:element name="LINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="LINETYPE" type="xs:string"/>
	<xs:element name="LOADPOINT" type="xs:string"/>
	<xs:element name="LOCK" type="xs:integer"/>
	<xs:element name="LOTLEVEL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LOTSNFLAG" type="xs:string"/>
	<xs:element name="MACHCLASS" type="xs:string"/>
	<xs:element name="MACHID" type="xs:string"/>
	<xs:element name="MACHINEID" type="xs:string"/>
	<xs:element name="MACHSTATE" type="xs:boolean"/>
	<xs:element name="MACHSUDEP" type="xs:string"/>
	<xs:element name="MACHTYPE" type="xs:string"/>
	<xs:element name="MAINTCALID" type="xs:string"/>
	<xs:element name="MAINTLOCID" type="xs:string"/>
	<xs:element name="MAINTORDID" type="xs:string"/>
	<xs:element name="MANDATORY" type="xs:boolean"/>
	<xs:element name="MATCHTYPE" type="xs:string"/>
	<xs:element name="MCHDOCID" type="xs:string"/>
	<xs:element name="MCHDOCTYPE" type="xs:string"/>
	<xs:element name="MCHLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="MOPARENTID" type="xs:string"/>
	<xs:element name="MOPRIORITY" type="xs:integer"/>
	<xs:element name="MOSTATUS" type="xs:string"/>
	<xs:element name="MOTYPE" type="xs:string"/>
	<xs:element name="MSDSID" type="xs:string"/>
	<xs:element name="MSGID" type="xs:string"/>
	<xs:element name="MSGTEXT" type="xs:string"/>
	<xs:element name="MSGTYPE" type="xs:string"/>
	<xs:element name="NAME">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NEWITMREV" type="xs:string"/>
	<xs:element name="NEWREVFLAG" type="xs:string"/>
	<xs:element name="NOTES" type="NOTES"/>
	<xs:complexType name="NOTES">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="index" use="required" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="NUMOFDEC" type="xs:integer"/>
	<xs:element name="OILINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="OLDITMREV" type="xs:string"/>
	<xs:element name="ONETIME" type="xs:boolean"/>
	<xs:element name="OPENITEM" type="xs:boolean"/>
	<xs:element name="OPERATNAME" type="xs:string"/>
	<xs:element name="OPERATNID" type="xs:string"/>
	<xs:element name="OPERATNSEQ" type="xs:string"/>
	<xs:element name="OPERATTYPE" type="xs:string"/>
	<xs:element name="OPRAMTAUTH" type="xs:string"/>
	<xs:element name="OPRGRPNAME" type="xs:string"/>
	<xs:element name="OPRGRPTYPE" type="xs:string"/>
	<xs:element name="OPSTATUS" type="xs:string"/>
	<xs:element name="OPTCLSNAME" type="xs:string"/>
	<xs:element name="OPTCLSSID" type="xs:string"/>
	<xs:element name="OPTIONID" type="xs:string"/>
	<xs:element name="OPTIONNAME" type="xs:string"/>
	<xs:element name="ORIGREF" type="ORIGREF"/>
	<xs:element name="OTELIGIBLE" type="xs:boolean"/>
	<xs:element name="OUTQUEUEID" type="xs:string"/>
	<xs:element name="OVERIDPRIC" type="xs:string"/>
	<xs:element name="OVERTIME" type="xs:boolean"/>
	<xs:element name="OWNRSHPCDE" type="xs:string"/>
	<xs:element name="PACKING" type="xs:string"/>
	<xs:element name="PACKNGDESC" type="xs:string"/>
	<xs:element name="PARCNTNRID" type="xs:string"/>
	<xs:element name="PARENTID" type="xs:string"/>
	<xs:element name="PARENTLOT" type="PARENTLOT"/>
	<xs:complexType name="PARENTLOT">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="index" use="required" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PARENTSNUM" type="xs:string"/>
	<xs:element name="PARTIALSHP" type="xs:boolean"/>
	<xs:element name="PARTNRID" type="PARTNRID"/>
	<xs:element name="PARTNRIDX" type="xs:string"/>
	<xs:element name="PARTNRRATG" type="xs:string"/>
	<xs:element name="PARTNRROLE" type="xs:integer"/>
	<xs:element name="PARTNRTYPE" type="PARTNRTYPE"/>
	<xs:element name="PAYMETHOD" type="PAYMETHOD"/>
	<xs:element name="PERSONCODE" type="REASONCODE"/>
	<xs:element name="PICLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="PLANNERID" type="xs:string"/>
	<xs:element name="PMID" type="xs:string"/>
	<xs:element name="POENTITY" type="xs:string"/>
	<xs:element name="POID" type="xs:string"/>
	<xs:element name="POLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="POLNSTATUS" type="xs:string"/>
	<xs:element name="PORELEASE" type="xs:string"/>
	<xs:element name="POSITION" type="xs:string"/>
	<xs:element name="POSTALCODE" type="xs:string"/>
	<xs:element name="POSTATUS" type="xs:string"/>
	<xs:element name="POTYPE" type="xs:string"/>
	<xs:element name="PRCESSCODE" type="xs:string"/>
	<xs:element name="PRDLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="PREFERENCE" type="xs:string"/>
	<xs:element name="PRICECODE" type="xs:string"/>
	<xs:element name="PRICELSTID" type="xs:string"/>
	<xs:element name="PRICELSTRV" type="xs:string"/>
	<xs:element name="PRICETYPE" type="xs:string"/>
	<xs:element name="PRINT" type="xs:boolean"/>
	<xs:element name="PRINTCNTL" type="xs:string"/>
	<xs:element name="PRIORITY" type="xs:string"/>
	<xs:element name="PRNTCLSELM" type="xs:string"/>
	<xs:element name="PRODCTLINE" type="xs:string"/>
	<xs:element name="PRODORDER" type="xs:string"/>
	<xs:element name="PRODORDID" type="xs:string"/>
	<xs:element name="PRODOSTATS" type="xs:string"/>
	<xs:element name="PRODOTYPE" type="xs:string"/>
	<xs:element name="PRODSEQBEG" type="xs:string"/>
	<xs:element name="PRODSEQEND" type="xs:string"/>
	<xs:element name="PRODSEQNUM" type="xs:string"/>
	<xs:element name="PROFITCTR" type="xs:string"/>
	<xs:element name="PROJACTSTS" type="xs:string"/>
	<xs:element name="PROJACTVTY" type="xs:string"/>
	<xs:element name="PROJECT" type="xs:string"/>
	<xs:element name="PROJRESEL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROJSTATUS" type="xs:string"/>
	<xs:element name="PROJTXTYPE" type="xs:string"/>
	<xs:element name="PROPERTY">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROXMONTH" type="xs:integer"/>
	<xs:element name="PSBLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="PSCLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="PSDLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="PSSTATUS" type="xs:string"/>
	<xs:element name="PUBLISHER" type="xs:string"/>
	<xs:element name="QSLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="QSLINESTAT" type="xs:string"/>
	<xs:element name="QSLINETYPE" type="xs:string"/>
	<xs:element name="QTEID" type="xs:string"/>
	<xs:element name="QTEIDX" type="xs:string"/>
	<xs:element name="QTELINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="QTELNSTAT" type="xs:string"/>
	<xs:element name="QTEREVISON" type="xs:string"/>
	<xs:element name="QTESTATUS" type="xs:string"/>
	<xs:element name="QTETYPE" type="xs:string"/>
	<xs:element name="QUALFNID" type="xs:string"/>
	<xs:element name="QUALFNTYPE" type="xs:string"/>
	<xs:element name="QUALFNVAL" type="xs:string"/>
	<xs:element name="QUALIF" type="xs:string"/>
	<xs:element name="RATETYPE" type="xs:string"/>
	<xs:element name="REASONCODE" type="REASONCODE"/>
	<xs:element name="RECEIPTID" type="xs:string"/>
	<xs:element name="RECEIPTYPE" type="xs:string"/>
	<xs:element name="RECEPTDISP" type="xs:string"/>
	<xs:element name="RECLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="REF">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="REGION" type="xs:string"/>
	<xs:element name="RELITEMID" type="xs:string"/>
	<xs:element name="RELLOCID" type="xs:string"/>
	<xs:element name="RELMACHID" type="xs:string"/>
	<xs:element name="REMITTANCE" type="xs:string"/>
	<xs:element name="REPRTGFLAG" type="xs:string"/>
	<xs:element name="REQLINENUM" type="xs:string"/>
	<xs:element name="REQLNSTAT" type="xs:string"/>
	<xs:element name="REQUESTER" type="xs:string"/>
	<xs:element name="REQUISTNID" type="xs:string"/>
	<xs:element name="RESORCEUSE" type="xs:string"/>
	<!-- Deprecated -->
		<xs:element name="RESORCKIN" type="xs:string"/>
		<xs:element name="RESORCUSE" type="xs:string"/>
	<!-- Deprecated	-->
	<xs:element name="RESORCGRP" type="xs:string"/>
	<xs:element name="RESORCLVL" type="xs:string"/>
	<xs:element name="RESORCTYP" type="xs:string"/>
	<xs:element name="RESOURCEID" type="xs:string"/>
	<xs:element name="RESTRICTN" type="xs:string"/>
	<!--	<xs:element name="REVISION">   Already defined above -->
	<xs:element name="REVITMSTAT" type="xs:string"/>
	<xs:element name="RFQID" type="xs:string"/>
	<xs:element name="RFQIDX" type="xs:string"/>
	<xs:element name="RFQLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="RFQLNSTAT" type="xs:string"/>
	<xs:element name="RFQNAME" type="xs:string"/>
	<xs:element name="RFQREVISON" type="xs:string"/>
	<xs:element name="RFQSTATUS" type="xs:string"/>
	<xs:element name="RFQTYPE" type="xs:string"/>
	<xs:element name="ROUTEID" type="xs:string"/>
	<xs:element name="ROUTELEVEL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ROUTETYPE" type="xs:string"/>
	<xs:element name="ROUTEVAR" type="xs:string"/>
	<xs:element name="ROUTINGID" type="xs:string"/>
	<xs:element name="ROUTINGREV" type="xs:string"/>
	<xs:element name="ROUTINGVAR" type="xs:string"/>
	<xs:element name="RQSLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="RSBLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="RSLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="RSLINETYPE" type="xs:string"/>
	<xs:element name="RSPLINNUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="RSPREVNUM" type="xs:string"/>
	<xs:element name="RSPSCHEDID" type="xs:string"/>
	<xs:element name="RSPSDLNUM" type="xs:string"/>
	<xs:element name="SAFETYID" type="xs:string"/>
	<xs:element name="SAFETYTYPE" type="xs:string"/>
	<xs:element name="SAFTYCLASS" type="xs:string"/>
	<xs:element name="SALESORDID" type="xs:string"/>
	<xs:element name="SALESORG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SALESPERSN" type="xs:string"/>
	<xs:element name="SAVESETUP" type="xs:boolean"/>
	<xs:element name="SCHDULETYP" type="xs:string"/>
	<xs:element name="SCHEDULEID" type="xs:string"/>
	<xs:element name="SCHLINENUM" type="SCHLINENUM"/>
	<xs:element name="SCRAP" type="xs:boolean"/>
	<xs:element name="SERIALNUM" type="xs:string"/>
	<xs:element name="SEQNCENUM" type="xs:string"/>
	<xs:element name="SHIFT" type="xs:string"/>
	<xs:element name="SHIPMATLID" type="xs:string"/>
	<xs:element name="SHIPNOTES" type="xs:string"/>
	<xs:element name="SHIPPERID" type="xs:string"/>
	<xs:element name="SHIPPERNUM" type="xs:string"/>
	<xs:element name="SHIPPOINT" type="xs:string"/>
	<xs:element name="SHIPPRIOR" type="xs:boolean"/>
	<xs:element name="SHIPSRVLVL" type="xs:string"/>
	<xs:element name="SHPMTLDESC" type="xs:string"/>
	<xs:element name="SHPUNITSEQ" type="xs:string"/>
	<xs:element name="SHPUNITSTS" type="xs:string"/>
	<xs:element name="SHPUNITTOT" type="xs:string"/>
	<xs:element name="SIGN" type="xs:string"/>
	<xs:element name="SITELEVEL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="SOLNSTATUS" type="xs:string"/>
	<xs:element name="SOSLINENUM" type="xs:string"/>
	<!-- future xs:decimal  -->
	<xs:element name="SOSTATUS" type="xs:string"/>
	<xs:element name="SPECIALHND" type="xs:string"/>
	<xs:element name="SPLITABLE" type="xs:boolean"/>
	<xs:element name="STAGEPOINT" type="xs:string"/>
	<xs:element name="STATEPROVN" type="xs:string"/>
	<xs:element name="STATUSLVL" type="STATUSLVL"/>
	<xs:element name="STEPID" type="xs:string"/>
	<xs:element name="STEPNUM" type="xs:string"/>
	<xs:element name="STEPTYPE" type="xs:string"/>
	<xs:element name="SUBLINENUM" type="SUBLINENUM"/>
	<xs:element name="SUBSFLAG" type="xs:boolean"/>
	<xs:element name="SUFFIX" type="xs:string"/>
	<xs:element name="SUPERVISOR" type="xs:string"/>
	<xs:element name="SYNCIND" type="xs:string"/>
	<!-- See above
	<xs:element name="TASK" type="TASK"/>
	<xs:simpleType name="TASK">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType> -->
	<xs:element name="TAXCODE" type="TAXCODE"/>
	<xs:element name="TAXEXEMPT" type="xs:boolean"/>
	<xs:element name="TAXID" type="xs:string"/>
	<xs:element name="TAXJRSDCTN" type="TAXJRSDCTN"/>
	<xs:element name="TAXLINE" type="xs:boolean"/>
	<xs:element name="TAXWHEXMPT" type="xs:boolean"/>
	<xs:element name="TELEPHONE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TERMFLAG" type="xs:boolean"/>
	<xs:element name="TERMID" type="TERMID"/>
	<xs:element name="TITLE" type="xs:string"/>
	<xs:element name="TOITMCLSS" type="xs:string"/>
	<xs:element name="TOITMNM" type="xs:string"/>
	<xs:element name="TOITMNMRV" type="xs:string"/>
	<xs:element name="TOOLCLASS" type="xs:string"/>
	<xs:element name="TOOLID" type="xs:string"/>
	<xs:element name="TOPARTY" type="xs:string"/>
	<xs:element name="TOSITELVL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="index" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRACKFLG" type="xs:boolean"/>
	<xs:element name="TRACKINGID" type="xs:string"/>
	<xs:element name="TRAKNGFLAG" type="xs:boolean"/>
	<xs:element name="TRANSMETHD" type="xs:string"/>
	<xs:element name="TRANSTERMS" type="xs:string"/>
	<xs:element name="TRNSFRTYPE" type="xs:string"/>
	<xs:element name="TXANALYSIS" type="xs:string"/>
	<xs:element name="UNIT" type="xs:string"/>
	<xs:element name="UNITTYPE" type="xs:string"/>
	<xs:element name="UOM" type="xs:string"/>
	<xs:element name="UOMGROUPID" type="xs:string"/>
	<xs:element name="UOMNUMDEC" type="xs:integer"/>
	<xs:element name="UOMVALUE" type="xs:string"/>
	<xs:element name="UPC" type="xs:string"/>
	<xs:element name="UPCPKGIND" type="xs:string"/>
	<xs:element name="UPCSCC14" type="xs:string"/>
	<xs:element name="UPDTWIPFG" type="xs:boolean"/>
	<xs:element name="URI" type="xs:string"/>
	<!--xs:uriReference -->
	<xs:element name="URL" type="xs:string"/>
	<xs:element name="USAGERESTN" type="xs:string"/>
	<xs:element name="USERAREA" type="USERAREA"/>
	<xs:complexType name="USERAREA" mixed="true">
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="USERID" type="xs:string"/>
	<xs:element name="USEUPITEM" type="xs:string"/>
	<xs:element name="USUPINVFG" type="xs:boolean"/>
	<xs:element name="VALUE" type="xs:decimal"/>
	<xs:element name="VALUECLASS" type="xs:string"/>
	<xs:element name="VOUCHER" type="xs:string"/>
	<xs:element name="WAGEGROUP" type="xs:string"/>
	<xs:element name="WAGETYPE" type="xs:string"/>
	<xs:element name="WAREHOUSE" type="xs:string"/>
	<xs:element name="WARRANTY" type="xs:string"/>
	<xs:element name="WORKCENTER" type="xs:string"/>
	<xs:element name="WORKORDER" type="xs:string"/>
	<xs:element name="WRKSCHDID" type="xs:string"/>
	<xs:element name="XREFTYPEID" type="xs:string"/>
	<!-- End - Supporting Fields & Types -->
</xs:schema>
