framework/widget/dtd/compound-widgets.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="compound-widgets">
        <xs:complexType>
            <xs:all minOccurs="0" maxOccurs="1">
                <xs:element name="site-conf"/>
                <xs:element name="menus"/>
                <xs:element name="screens"/>
                <xs:element name="trees"/>
                <xs:element name="forms"/>
                <xs:element name="simple-methods"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>